@{
    ViewData["Title"] = "Página Inicial";
}

<div class="container">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="display-5" alt="Nebulosa de Orion" id="jumboTxt"><strong>Cuidamos do que é importante.</strong></h1>
                </div>
            </div>
        </div>
    </div>
    <row>
        <p class="lead mt-5">
            Nós sabemos que quando o equipamento parar de funcionar por algum motivo precisará de uma assistência ágil, conveniente e confiável. A sua maquina/aparelho é utilizada no trabalho, em casa, para comunicação via e-mail, acessando a internet e para muitas outras coisas do dia a dia, do qual muitas vezes não poderá ficar sem.
            Então corra para a assistência eficaz e ágil, entre em contato imediatamente e faça o seu orçamento gratuito.
            <br />
            Você precisa da <strong>fórmula R</strong>, não perca seu tempo, ele é muito importante!
        </p>
    </row>

    <h2 class="mt-5">Nossos serviços</h2>
    <div class="row">
        <div class="col-sm-12 col-lg-4 col-md-6 my-4">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="~/img/celularDesmontado2.jpg" alt="Smartphone desmontado">
                <div class="card-body">
                    <h4 class="card-title">Smartphones e Tablets</h4>
                    <ul class="small">
                        <li>Troca de vidro e display;</li>
                        <li>Troca de alto falantes;</li>
                        <li>Restauração e atualização de software;</li>
                        <li>Troca de botões e conectores;</li>
                        <li>Desoxidação em aparelhos molhados;</li>
                        <li>Troca de bateria;</li>
                        <li>Reparo ou troca de carcaça;</li>
                        <li>Troca de antena GPS e wifi.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-4 col-md-6 my-4">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="~/img/ComputadorDesmontado.jpg" alt="Computador desmontado">
                <div class="card-body">
                    <h4 class="card-title">Computadores Notebooks e Desktops</h4>
                    <ul class="small">
                        <li>Remoção de vírus;</li>
                        <li>Restauração, instalação e/ou atualização do sistema operacional e drives;</li>
                        <li>Recuperação de dados e backup;</li>
                        <li>Limpeza e lubrificação do cooler de arrefecimento;</li>
                        <li>Reparo de cabos flexíveis, fonte externa, cooler, auto-falante, teclado e dobradiça;</li>
                        <li>Reparo ou troca de conector de energia;</li>
                        <li>Upgrade de memoria, disco rígido e processador;</li>
                        <li>Troca de tela e/ou teclado;</li>
                        <li>Fonte e bateria.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-4 col-md-6 my-4">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="~/img/droneDesmontado.jpg" alt="Computador desmontado">
                <div class="card-body">
                    <h4 class="card-title">Drones</h4>
                    <ul class="small">
                        <li>Troca de motores;</li>
                        <li>Atualização de firmware;</li>
                        <li>Troca de câmera;</li>
                        <li>Troca/Reparo na placa mãe;</li>
                        <li>Pareamento de controles;</li>
                        <li>Calibração de sensores;</li>
                        <li>E para outros problemas encontraremos a solução.</li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
    <div class="row mt-5">
        <div class="col-lg-12">
            <h5 class="">Aqui está o que você obtém quando precisa de ajuda:</h5>
            <br />
            <ul>
                <li class="text-muted bg-light">
                    <strong>Diagnóstico grátis</strong>
                    <br />
                    A primeira coisa que nossos técnicos qualificados fazem é realizar um exame de diagnóstico gratuito para determinar exatamente o que está errado com seu equipamento. Depois de encontrarmos a raiz do problema, nosso técnico explicará o que está errado e fornecerá opções de reparo, incluindo estimativas de custo e tempo. Se você optar por continuar então eles começarão o reparo imediatamente.
                </li>

                <li class="text-muted bg-light">
                    <strong>Serviço especializado</strong>
                    <br />
                    Uma coisa que você pode ter certeza com a fórmula R é que o seu equipamento está em boas mãos. Nossos técnicos treinados têm experiência com uma variedade de marcas de computadores (PCs e laptops), celulares e outros dispositivos. Temos experiência em consertar tudo, desde ventoinhas de arrefecimento, telas, portas de comunicação, baterias e muito mais. O técnico manterá atualizado sobre o progresso do reparo do seu equipamento durante todo o processo. Não importa a marca que você precisa consertar, você pode ter certeza de que seu reparo está sendo feito de forma rápida e profissional.
                </li>

                <li class="text-muted bg-light">
                    <strong>Garantia de Preço Baixo</strong>
                    <br />
                    A fórmula R oferece uma garantia de preço baixo em todos os nossos reparos. Não temos um ponto comercial de acesso público pois como uma “empresa de garagem” conseguimos manter um custo operacional reduzido, consequentemente não repassando-o ao preço final. Se você encontrar um preço menor publicado no mesmo conserto, nós igualaremos esse preço e diminuiremos o nosso em R$ 5. Todos os nossos reparos vêm com uma garantia de 60 dias para que você possa ter certeza. Se você está procurando assistência mais perto e acessível então venha a nós.
                </li>
                <li class="text-muted bg-light">
                    <strong>fórmula R</strong>
                    <br />
                    Ninguém quer que sua máquina precise de conserto, mas quando isso acontece, você quer que o trabalho seja feito de forma rápida, acessível e correta, para que possa voltar aos negócios. A fórmula R está buscando a excelência no setor em reparos eletrônicos, com serviço rápido, acessível e garantido.
                </li>
            </ul>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-8 pb-3">
            <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3664.0460105218863!2d-46.22356478441122!3d-23.314089358393737!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce81c383bdb355%3A0x9076cc152294dbb1!2sR.+Floriano+Peixoto%2C+66+-+Recanto+Feliz%2C+Santa+Isabel+-+SP%2C+07500-000!5e0!3m2!1spt-BR!2sbr!4v1548870322678" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card" id="cardContato">
                <h2 class="card-header text-center bg-transparent">Fale Conosco</h2>
                <div class="card-body text-center">
                    <a href="https://api.whatsapp.com/send?phone=5511975157232" class="fa fa-whatsapp fa-2x"></a>
                    <a href="mailto:ralphribeiro@gmail.com" class="fa fa-envelope fa-2x"></a>
                    <a href="https://www.facebook.com/Fórmula-R-2085375684889619" class="fa fa-facebook fa-2x"></a>
                    <a href="https://www.instagram.com/formula_ribeiro" class="fa fa-instagram fa-2x"></a>
                </div>
                <p class="card-footer small text-muted bg-transparent font-italic text-center mb-1">Toda a nossa comunicação é preferencialmente digital, através de nossas redes sociais e WhatsApp.</p>
            </div>
        </div>
    </div>
</div>

