@{
    ViewData["Title"] = "Política de privacidade";
}

<h2>Política de privacidade para <a asp-area="" asp-controller="Home" asp-action="Index">fórmula R</a></h2>
<p>Todas as suas informações pessoais recolhidas, serão usadas para o ajudar a tornar a sua visita no nosso site o mais produtiva e agradável possível.</p>
<p>A garantia da confidencialidade dos dados pessoais dos utilizadores do nosso site é importante para o formula R.</p>
<p>Todas as informações pessoais relativas a membros, assinantes, clientes ou visitantes que usem o formula R serão tratadas em concordância com a Lei da Proteção de Dados Pessoais de 26 de outubro de 1998 (Lei n.º 67/98).</p>
<p>A informação pessoal recolhida pode incluir o seu nome, e-mail, número de telefone e/ou celular, data de nascimento e/ou outros.</p>
<p>O uso do formula R pressupõe a aceitação deste Acordo de privacidade. A equipa do formula R reserva-se ao direito de alterar este acordo sem aviso prévio. Deste modo, recomendamos que consulte a nossa política de privacidade com regularidade de forma a estar sempre atualizado.</p>
<h2>Os Cookies e Web Beacons</h2>
<p>Utilizamos cookies para armazenar informação, tais como as suas preferências pessoas quando visita o nosso website. Isto poderá incluir um simples popup, ou uma ligação em vários serviços que providenciamos, tais como fóruns.</p>
<p>Você detém o poder de desligar os seus cookies, nas opções do seu browser, ou efetuando alterações nas ferramentas de programas Anti-Virus, como o Norton Internet Security. No entanto, isso poderá alterar a forma como interage com o nosso website, ou outros websites. Isso poderá afetar ou não permitir que faça logins em programas, sites ou fóruns da nossa e de outras redes.</p>
<h2>Ligações a Sites de terceiros</h2>
<p>O formula R possui ligações para outros sites, os quais, a nosso ver, podem conter informações / ferramentas úteis para os nossos visitantes. A nossa política de privacidade não é aplicada a sites de terceiros, pelo que, caso visite outro site a partir do nosso deverá ler a politica de privacidade destes.</p>
<p>Não nos responsabilizamos pela política de privacidade ou conteúdo presente nesses mesmos sites.</p>
